SUPABASE_API_KEY=xxxxxxxxxxxxxxxxxxx
SUPABASE_URL=https://xxxx.supabase.co
OLLAMA_LLM_BASE_URL=http://localhost:11434
OLLAMA_LLM_MODEL=llama3.2
OLLAMA_EMBEDDINGS_BASE_URL=http://localhost:11434
OLLAMA_EMBEDDINGS_MODEL=nomic-embed-text